* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-section {
  height: 100vh;
  background-image: url("./images/desktop/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-items > a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-weight: 500;
}

.hero-heading {
  color: white;
  font-weight: 300;
  font-size: 70px;
  line-height: 1;
  margin-left: 11.8rem;
  margin-top: 9rem;
  height: max-content;
  width: max-content;
  border: 2px solid white;
  padding: 15px 35px;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.info-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.info-img-container > img {
  width: 650px;
}

.info-text-container {
  margin-left: -7rem;
  background-color: white;
  padding: 20px 30px;
  height: max-content;
  width: max-content;
}

.info-text-container > h1 {
  color: black;
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  padding-bottom: 15px;
}
.info-text-container > p {
  color: hsl(0, 0%, 41%);
}
