* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-section {
  height: 100vh;
  background-image: url("./images/desktop/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-items > a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-weight: 500;
}

.hero-heading {
  color: white;
  font-weight: 300;
  font-size: 70px;
  line-height: 1;
  margin-left: 11.8rem;
  margin-top: 9rem;
  height: max-content;
  width: max-content;
  border: 2px solid white;
  padding: 15px 35px;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.info-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.info-img-container > img {
  width: 650px;
}

.info-img-container-mobile {
  display: none;
}

.info-text-container {
  margin-left: -7rem;
  background-color: white;
  padding: 20px 30px;
  height: max-content;
  width: max-content;
}

.info-text-container > h1 {
  color: black;
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  padding-bottom: 15px;
}
.info-text-container > p {
  color: hsl(0, 0%, 41%);
}

.creations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10vh;
}
.creation-btn-mobile {
  display: none;
}

.creations > h1 {
  font-size: 60px;
  font-weight: 300;
  color: black;
}
.creations > button {
  background: white;
  border: 2px solid black;
  outline: none;
  padding: 15px 30px;
  cursor: pointer;
  font-weight: 400;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(4, 230px);
  grid-template-rows: repeat(2, 450px);
  grid-gap: 30px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}
.grid-item-1 {
  background-image: url("./images/desktop/image-deep-earth.jpg");
}
.grid-item-2 {
  background-image: url("./images/desktop/image-night-arcade.jpg");
}
.grid-item-3 {
  background-image: url("./images/desktop/image-soccer-team.jpg");
}
.grid-item-4 {
  background-image: url("./images/desktop/image-grid.jpg");
}
.grid-item-5 {
  background-image: url("./images/desktop/image-from-above.jpg");
}
.grid-item-6 {
  background-image: url("./images/desktop/image-pocket-borealis.jpg");
}
.grid-item-7 {
  background-image: url("./images/desktop/image-curiosity.jpg");
}
.grid-item-8 {
  background-image: url("./images/desktop/image-fisheye.jpg");
}

.footer-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 25vh;
  padding: 20px 20px;
  margin-top: 15vh;
}

.flex-row1-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row1-center > img {
  margin-right: 50rem;
  margin-left: 10px;
}

.social-section > a > img {
  padding-right: 10px;
}

.flex-row2-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-menu {
  margin-right: 42rem;
  margin-left: 10px;
}

.footer-menu > a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding-right: 5px;
}

.copyright {
  margin-left: 15px;
}

.mobile-footer {
  display: none;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 50vh;
  padding: 20px 20px;
  margin-top: 15vh;
}

.footer-logo-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.footer-menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.footer-menu-mobile > a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding-right: 5px;
  margin-bottom: 25px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.footer-icons > a {
  margin-right: 15px;
  font-size: 1.2rem;
}

.copyright-footer {
  text-align: center;
  font-size: 1rem;
  color: grey;
  font-weight: 400;
  letter-spacing: 3px;
}
/* Hamburger menu */

.ham-btn > button {
  display: none;
  border: none;
  background: none;
  font-size: 1.5rem;
}
/* Responsive media queries */
@media only screen and (max-width: 768px) {
  .header-section {
    height: 100vh;
    width: 100vw;
    background-image: url("./images/mobile/image-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .nav-items {
    display: none;
  }

  .hero-heading {
    color: white;
    font-weight: 200;
    font-size: 35px;
    line-height: 1.1;
    margin: 175px auto;
    height: max-content;
    width: 350px;
    border: 2px solid white;
    padding: 15px 35px;
    letter-spacing: 2px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    /* width: 100%; */
  }

  .ham-btn > button {
    display: inline;
    color: white;
    cursor: pointer;
  }
  .container {
    width: 80%;
    overflow-x: hidden;
  }

  .info-section {
    display: block;
    margin: 10px auto;
  }
  .info-img-container {
    display: none;
  }
  .info-img-container-mobile {
    display: block;
    margin: 80px auto 40px auto;
  }
  .info-img-container-mobile > img {
    width: 100%;
  }
  .info-text-container {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .info-text-container > h1 {
    font-size: 35px;
    /* text-align: center; */
  }
  .info-text-container > p {
    width: 250px;
    text-align: center;
    font-size: 0.8rem;
    color: grey;
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: 40px;
  }
  .creations {
    display: block;
  }
  .creations > h1 {
    font-size: 40px;
    text-align: center;
  }
  .creations > button {
    display: none;
  }
  .grid-section {
    display: none;
  }
  .grid-section-mobile {
    display: grid;
    grid-template-rows: repeat(8, 125px);
    grid-row-gap: 25px;
    margin-bottom: 50px;
  }
  .grid-item-mobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: 300;
    /* padding-bottom: 30px; */
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  }
  .grid-item-mobile-1 {
    background-image: url("./images/mobile/image-deep-earth.jpg");
  }
  .grid-item-mobile-2 {
    background-image: url("./images/mobile/image-night-arcade.jpg");
  }
  .grid-item-mobile-3 {
    background-image: url("./images/mobile/image-soccer-team.jpg");
  }
  .grid-item-mobile-4 {
    background-image: url("./images/mobile/image-grid.jpg");
  }
  .grid-item-mobile-5 {
    background-image: url("./images/mobile/image-from-above.jpg");
  }
  .grid-item-mobile-6 {
    background-image: url("./images/mobile/image-pocket-borealis.jpg");
  }
  .grid-item-mobile-7 {
    background-image: url("./images/mobile/image-curiosity.jpg");
  }
  .grid-item-mobile-8 {
    background-image: url("./images/mobile/image-fisheye.jpg");
  }
  .creation-btn-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }
  .creation-btn-mobile > button {
    background: white;
    border: 2px solid black;
    outline: none;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 1.2rem;
  }
  .footer-container {
    display: none;
  }
  .mobile-footer {
    display: block;
  }
}
