* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-section {
  height: 100vh;
  background-image: url("./images/desktop/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-items > a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-weight: 500;
}
